@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center" runat="server">
    <h1 class="display-4">Binary to Decimal Converter</h1>
    <h3>(No Overflow)</h3>

    <form method="post" class="card p-3" runat="server">

        <select asp-for="ConvertFrom">
            <option asp-for="ConvertFrom">Binary</option>
            <option asp-for="ConvertFrom">Decimal</option>
        </select>

        <input asp-for="NewConverter.ValueToConvert"  class="card p-3" style="text-align:right" />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger" style="text-align:right"></div>
        </div>
        <input type="text" class="card p-3" style="text-align:right" value="@Model.NewConverter.ReturnVal" />
        <br />
        <div>
            <button class="btn btn-primary">CONVERT</button>
        </div>
        <br />
    </form>

</div>
